<section>
    <h3>Liste des vols dont le personnel doit être attribuer</h3>
    <article>
        <table>
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Modèle d'avion</td>
                    <td>Date de départ</td>
                    <td>Durée du vol</td>
                    <td>Aéroport de départ</td>
                    <td>Aéroport d'arrivée</td>
                    <td>Personnels avec Attribution</td>
                </tr>
            </thead>
            <tr *ngFor="let v of compagnies.vols">
                <td> {{v.code }}</td>
                <td> {{v.avion.modele }}</td>
                <td> {{v.date }}</td>
                <td> {{v.duree }}</td>
                <td> {{v.aeroportDepart }}</td>
                <td> {{v.aeroportArrivee }}</td>
                <td>
                    <ul>
                        <li *ngFor="let p of v.personnel">{{p.nom | uppercase }}, {{p.prenom[0]}} | {{ p.habilitation}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </article>
</section>