<section>
    <h3>Liste des Personnels</h3>
    <article>
        <table>
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Habilitation</td>
                </tr>
            </thead>
            <tr *ngFor="let a of compagnie_personnels.personnels">
                <td> {{a.data.nom }}</td>
                <td> {{a.data.prenom.join()}}</td>
                <td> {{a.data.habilitation }}</td>
            </tr>
        </table>
    </article>
</section>

<section>
    <h3>Donnée synchronisées depuis le BehaviorSubject</h3>
    <article>
        <table>
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Habilitation</td>
                </tr>
            </thead>
            <tr *ngFor="let a of compagnie_personnels.personnels$ | async">
                <td> {{a.data.nom }}</td>
                <td> {{a.data.prenom.join()}}</td>
                <td> {{a.data.habilitation }}</td>
            </tr>
        </table>
    </article>
</section>
