:host{
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vw;
}
aside{
    width: 10vw;
}

:host > section{
    width: 90vw;
}
aside > nav {
    display: flex;
    flex-flow: column nowrap;
}