.box-main {
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    background: white;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
  }
  
  /*========================================================
            Form Section
  ========================================================*/
  form {
    margin: 0 auto;
    width: 50%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-bottom: 10px;
  }
  /*changing title style*/
  h1 {
    padding-top: 30px;
    text-align: center;
    color: #4CAF50;
    font-size: 26px;
  }
  
  /*Camera image to upload image*/
  .fa-camera-retro {
      color: #a7a7a7;
      width: 100px;
      height: 100px;
      margin-top: 20px;
      line-height: 100px;
      border: 2px solid #a7a7a7;
      cursor: pointer;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  }
  
  .fa-camera-retro:hover{
    border-color: #6f6f6f;
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
    color: #6f6f6f;
  }
  
  
  
  /*========================================================
            input Section
  ========================================================*/
  
  /*Float Label main style*/
  .float-label input, .float-label select {
      -webkit-appearance: none;
      outline: none;
      border: none;
      margin: 0 auto;
      width: 100%;
      display: block;
      -moz-border-radius: 0;
      border-radius: 0;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.7);
      background: transparent;
      color: #757575;
      padding: 5px 15px 7px 10px;
  }
  
  .title {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background: transparent;
    color: #757575;
    font-weight: normal;
    margin-left: 7px;
  }
  
  .gender, .birthday {
      text-align: left;
      padding-left: 16px;
      margin-top: -10px;
  }
  
  .gender div, .birthday div {
    display: inline-block;
    padding-left: 0;
  }
  
  /*add style to radio options*/
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 15px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #77cee2;
  }
  .option-input:checked::before {
    height: 15px;
    width: 15px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #77cee2;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input {
    border-radius: 50%;
  }
  .option-input::after {
    border-radius: 50%;
  }
  .radio-inline input[type=radio] {
    position: static;
    margin-left: 0;
    padding-left: 0;
  }
  .radio-inline {
    vertical-align: baseline;
  }
  .radio-inline span {
    line-height: 4;
    font-size: 16px;
    padding-left: 4px;
  }
  
   /*Style birthday select */
  .float-label select {
    display: inline-block;
    width: 24%;
    margin-left: 20px;
    font-size: 16px;
    color: black;
  }
  .float-label select:first-child{
    width: 80%;
  }
  .birthday .select {
    width: 82%;
  }
  
  .float-label > select option:first-child {
    color: #77cee2;
  }
  
  
  
  /*========================================================
            Button Section
  ========================================================*/
  /*changing button box style*/
  #sendData , #sendData2{
    width: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    outline: 0;
    border-style: none;
    background: #4CAF50;
    padding: 10px 15px;
    color: white;
    font-weight: 200;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.8);
  }
  
  .failure {
    color: #4CAF50;
  }
  
  /*change message*/
  #login, #create, #signOut {
    text-decoration: none;
    color: #4CAF50;
    background: transparent;
    border: none;
  }
  
  .message a:hover {
    color: black;
  }
  
  /*========================================================
        Profile Section
  ========================================================*/
  /*Add margin to profile*/
  #updateProfile {
    padding: 0px 60px;
  }
  
  .user-right {
    padding: 20px 20px 40px;
    /*margin-left: 80px;*/
  }
  
  /*Change profile title*/
  .user-right h2 {
    text-align: left;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 3em;
  }
  .user-right span {
    color: #d2d2d2;
  }

  
  

  
  