
<section>
    <div class="login-page">
        <div class="form">
            <h1>Login</h1>
            <form class="login-form" (submit)="checkIdFirebase()" #f="ngForm" >
                <span class="message" *ngIf="ctlId.invalid"><p>This field is required</p></span>
                <input type="text" name="id" [(ngModel)]="id.mail" #ctlId="ngModel" required placeholder="username"/>
                <span class="message" *ngIf="ctlPasse.invalid"><p>This field is required</p></span>
                <input type="password" name="passe" type="password" #ctlPasse="ngModel" [(ngModel)]="id.password" required placeholder="password"/>
                <button type="submit">login</button>
                <button type="reset">reset</button>
                <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
            </form>
        </div>
    </div>
</section>

<!--
<section>
    <h2>Se connecter</h2>
    <h3>Vous devez être connecter pour gérer les vols</h3>
    <form (submit)="checkIdFirebase()" #f="ngForm">
        <label>Identifiant</label>
        <input name="id" [(ngModel)]="id.id" #ctlId="ngModel" required placeholder="Saisissez votre id !">
        <span *ngIf="ctlId.invalid">Ce champs est requis</span>
        <label>Mot de passe</label>
        <input name="passe" type="password" #ctlPasse="ngModel" [(ngModel)]="id.passe" required placeholder="Tu as oublié ton mot de passe !">
        <span *ngIf="ctlPasse.invalid">Ce champs est requis</span>
        <span *ngIf="f.valid">le formulaire semble correct</span>
        <input type="submit" value="Connexion" [disabled]="f.invalid">
        <input type="reset" value="Annuler">
    </form>
</section>
-->