<section>
    <h1><span class="blue">&lt;</span>User Management<span class="blue">&gt;</span></h1>
        <h2>Created by me</h2>
        
        <table class="container">
            <thead>
                <tr>
                    <th><h1>UID</h1></th>
                    <th><h1>Name</h1></th>
                    <th><h1>Firstname</h1></th>
                    <th><h1>PhoneNumber</h1></th>
                    <th><h1>statut</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of userService.users " (click)="selectUser(u.uid)"  >
                    <td data-label="Account">{{u.uid}}</td>
                    <td data-label="Due Date">{{u.nom}}</td>
                    <td data-label="Amount">{{u.prenom}}</td>
                    <td data-label="Amount">{{u.tel}}</td>
                    <td data-label="Amount">{{u.statut}}</td>
                </tr> 
            </tbody>
        </table>

        <!---->
        <div class="box-main">

            <!-- Get User data -->
            <!-- =============================================================== -->
            <form id="newProfile" #f="ngForm" *ngIf="user">
                <h1 id="header">User Form</h1>
    
                <!-- USER Name -->
                <div class="float-label">
                    <input [(ngModel)]="user.nom" name="nom" placeholder="Name">
                </div>
                <br>
    
                <!-- USER FIRSTNAME -->
                <div class="float-label">
                    <input [(ngModel)]="user.prenom" name="prenom" placeholder="Firstname">
                </div>
                <br>

                <!-- USER TEL -->
                <div class="float-label">
                    <input [(ngModel)]="user.tel" name="tel" placeholder="PhoneNumber">
                </div>
                <br>

                <!-- USER PHOTO -->
                <div class="float-label">
                    <input [(ngModel)]="user.photoURL" name="photoURL" placeholder="photoURL">
                </div>
                <br>
    
                <!-- USER STATUT -->
                <div class="float-label">
                    <select class="select-habilitation" name="statut" #ctlId="ngModel" [(ngModel)]="user.statut" required>
                        <option selected hidden value="">Statut</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                </div>
                <br>
                
                <button name="update" (click)="updateUser(user.uid)" id="sendData" [disabled]="f.invalid">Update</button>
                <button name="delete" (click)="deleteUser(user.uid)" id="sendData" [disabled]="f.invalid">Delete</button>
                <button (click)="resetUser()" type="reset" name="reset" id="sendData" [disabled]="f.invalid">Reset</button>
            </form>
        </div>

</section>